
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1050px;
    
}

h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 2em;
font-weight: bold;
font-style: italic;

}

p{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

#board{
    width: 1080px;
    height: 570px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: rgb(100, 98, 98);
    flex-wrap: wrap;
    padding: 10px 47px;
    align-content: space-evenly;
    justify-content: space-evenly;
  

}

.postIt{
    background-color: bisque;
    width: 240px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.3s ease-in-out;
}

#postIt1{
    transform: rotate(-6deg);
}


#postIt2{
    transform: rotate(6deg);
    background-color: rgb(186, 236, 152);
}


#postIt3{
    transform: rotate(-8deg);
    background-color: rgb(185, 97, 236);
}

#postIt4{
    transform: rotate(5deg);
    background-color: bisque;
}


#postIt5{
    transform: rotate(-5deg);
    background-color: rgb(203, 138, 241);
    
}


#postIt6{
    transform: rotate(4deg);
    background-color: bisque;
}


#postIt7{
    transform: rotate(-4deg);
    background-color: rgb(203, 138, 241);
}


#postIt8{
    transform: rotate(10deg);
    background-color: rgb(186, 236, 152);
}

#postIt1:hover,#postIt2:hover,#postIt3:hover,#postIt4:hover,#postIt5:hover,#postIt6:hover,#postIt7:hover,#postIt8:hover {
    transform: scale(1.25);
    z-index: 1;
}
  